[global_config]
  always_split_with_profile = True
  enabled_plugins = ,
  title_inactive_bg_color = "#16ff00"
  title_transmit_bg_color = "#ff00eb"
[keybindings]
  cycle_next = <Alt>grave
  cycle_prev = <Shift><Alt>asciitilde
  hide_window = None
  resize_down = None
  resize_left = None
  resize_right = None
  resize_up = None
  split_horiz = <Primary><Shift>o
  split_vert = <Primary><Shift>e
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 38ce67eb-fb6f-44ec-a01f-66418e599b07
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:0
      size = 1366, 717
      title = jeremy@abox: ~/coding/ostrich
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = Flatland
      type = Terminal
      uuid = 38ce67eb-fb6f-44ec-a01f-66418e599b07
[plugins]
[profiles]
  [[default]]
    background_color = "#121212"
    background_darkness = 0.12
    cursor_color = "#a39a90"
    cursor_shape = ibeam
    font = Fira Mono 10
    foreground_color = "#a39a90"
    palette = "#322b22:#826d57:#57826d:#57826d:#6d5782:#82576d:#576d82:#a39a90:#34302d:#826d57:#57826d:#57826d:#8852bb:#82576d:#576d82:#dbd6d1"
    scrollback_infinite = True
    scrollback_lines = 5000
    use_system_font = False
  [[Fideloper]]
    background_color = "#292f33"
    cursor_color = "#d4605a"
    foreground_color = "#dbdae0"
    palette = "#292f33:#cb1e2d:#edb8ac:#b7ab9b:#2e78c2:#c0236f:#309186:#eae3ce:#092028:#d4605a:#d4605a:#a86671:#7c85c4:#5c5db2:#819090:#fcf4df"
    scrollback_infinite = True
  [[Firewatch]]
    background_color = "#1e2027"
    cursor_color = "#f6f7ec"
    foreground_color = "#9ba2b2"
    palette = "#585f6d:#d95360:#5ab977:#dfb563:#4d89c4:#d55119:#44a8b6:#e6e5ff:#585f6d:#d95360:#5ab977:#dfb563:#4c89c5:#d55119:#44a8b6:#e6e5ff"
    scrollback_infinite = True
    use_system_font = False
  [[Flatland]]
    background_color = "#1d1f21"
    cursor_color = "#708284"
    cursor_shape = ibeam
    font = Fira Mono 10
    foreground_color = "#b8dbef"
    palette = "#1d1d19:#f18339:#9fd364:#f4ef6d:#5096be:#695abc:#d63865:#ffffff:#1d1d19:#d22a24:#a7d42c:#ff8949:#61b9d0:#695abc:#d63865:#ffffff"
    scrollback_infinite = True
    scrollback_lines = 1000
    use_system_font = False
  [[Japanesque]]
    background_color = "#1e1e1e"
    background_darkness = 0.99
    cursor_color = "#edcf4f"
    font = Source Code Pro Medium 11
    foreground_color = "#f7f6ec"
    palette = "#343935:#cf3f61:#7bb75b:#e9b32a:#4c9ad4:#a57fc4:#389aad:#fafaf6:#595b59:#d18fa6:#767f2c:#78592f:#135979:#604291:#76bbca:#b2b5ae"
    scrollback_infinite = True
    use_system_font = False
  [[default0]]
    background_color = "#282828"
    copy_on_selection = True
    cursor_color = "#d3d0c8"
    font = Input Mono Narrow Semi-Condensed 11
    foreground_color = "#dcd9d1"
    palette = "#2d2d2d:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#d3d0c8:#747369:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#f2f0ec"
    scrollback_infinite = True
    use_system_font = False
  [[default3]]
    background_color = "#20201d"
    copy_on_selection = True
    cursor_color = "#a6a28c"
    font = Source Code Pro Medium 11
    foreground_color = "#a6a28c"
    palette = "#20201d:#d73737:#60ac39:#cfb017:#6684e1:#b854d4:#1fad83:#a6a28c:#7d7a68:#d73737:#60ac39:#cfb017:#6684e1:#b854d4:#1fad83:#fefbec"
    scroll_background = False
    scrollback_infinite = True
    scrollback_lines = 1094
    use_system_font = False
